
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 2vw;
    font-weight: bold;
}

.edt{
    $edtMargin: 2vw;
    height: calc(100vh - 2 * $edtMargin);
    margin: $edtMargin;

    $infoBarreHeight: 10vw;

    .infoBarre{
        height: $infoBarreHeight;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 2%;
        position: relative;
        font-size: 2.7vw;

        .weekSelector{
            display: flex;
            gap: 1.4vw;
            font-size: 2.7vw;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .changeWeek{
                width: 100%;
                height: 100%;
                border: none;
                border-radius: 50%;
                background-color: inherit;
                font-size: 3vw;

                display: flex;
                justify-content: center;
                align-items: center;

                .arrow {
                    width: 0;
                    height: 0;
                    
                    border-top: 2.2vw solid transparent;
                    border-bottom: 2.2vw solid transparent;

                    border-radius: .7vw;
                }

                .arrowLeft {
                    border-right: 2.7vw solid black;
                }

                .arrowRight {
                    border-left: 2.7vw solid black;
                }
            }

            .currentWeek{
                border-radius: 1vw;
                padding: 2vw;
                border: solid black 1px;
    
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .filter{
            width: max-content;
            height: 6.2vw;
            border: none;
            border-radius: 1.3vw;
            font-size: 2.5vw;
            padding: 0 2.2vw;

            position: absolute;
            right: 0;
        }
    }

    .week{
        height: calc(100% - $infoBarreHeight * 2);
        display: flex;
        gap: 2px;

        $heightDayHead: 7vw;
        

        .hours{
            width: max-content;
            height: 100%;
            display: flex;
            align-items: end;
            flex-direction: column;
            gap: 2px;

            .case:first-child{
                min-height: $heightDayHead;
            }

            position: relative;
            bottom: calc((100% - $heightDayHead) / (11 * 4 * 2));
        }

        .dateText{
            padding: .7vw 2vw;
            width: max-content;
            border-radius: 100vh;
        }

        .day{
            width: 18%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 2px;

            .case:first-child{
                min-height: $heightDayHead;
                border-radius: 100vw;
            }
        }

        .case{
            width: 100%;
            height: calc((100% - $heightDayHead) / (11 * 4));
            background-color: rgb(248, 248, 248);
            border-radius: 5px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img{
                width: 100%;
            }
        }

        .cours{
            width: 100%;
            border-radius: 5px;

            background-color: #bc8037;

            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 1.8vw;
            font-weight: normal;

            padding: 2vw;
        }

        .hour{
            width: 1.3vw;
            height: calc(((100% - $heightDayHead) / 11) * 3/4);
            background-color: white;
            border-radius: 100vh;

            margin-right: 1.1vw;
        }

        .thehour{
            width: 100%;
            height: calc(((100% - $heightDayHead) / 11) * 1/4);
            
            display: flex;
            justify-content: end;
            align-items: center;

            padding-right: .7vw;
        }
    }
}